<section class="page-header">
  <!-- <style type="text/css">
    page-header{
          background:url("https://github.com/sun-in-a-sphere/sun-in-a-sphere.github.io/blob/master/_images/animatedSun.gif?raw=true");
          background-size: cover;       /* For flexibility */
          }
  </style> -->

  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <BR>
  <br>
  <BR>
    <br>
    <BR>
      <br>
      <BR>
        <br>
        <BR>
          <br>
  <a href="https://github.com/sun-in-a-sphere/sun-in-a-sphere.github.io/releases" class="btn">Get code on GitHub</a>
  <!-- <a href="#" class="btn">Download .zip</a> -->
  <!-- <a href="#" class="btn">Download .tar.gz</a> -->

</section>